.out{
	height:310px;
	width: 100%;
	clear: both;
}

.left{
	height:310px;
	width: 25%;
	float: left;
}

.right{
	height:310px;
	width: 25%;
	float: right;
}

.mid{
	height:310px;
	width: 50%;
	margin-left: 25%;
}

.out2{
	height:70px;
	width: 100%;
	clear: both;
}

.left2{
	height:70px;
	width: 25%;
	float: left;
}

.right2{
	height:70px;
	width: 25%;
	float: right;
}

.mid2{
	height:70px;
	width: 50%;
	margin-left: 25%;
}

.out3{
	height:110px;
	width: 100%;
	clear: both;
}

.left3{
	height:110px;
	width: 25%;
	float: left;
}

.right3{
	height:110px;
	width: 25%;
	float: right;
}

.mid3{
	height:110px;
	width: 50%;
	margin-left: 25%;
}
.footer{
	height: 100px;
	width: 100%;
	background-color: #333;
	clear: both;
}

.top{
	width: 300px;
	margin: auto;
}

.header{
	width: 100%;
	height:80px;
}

.title{
	color:#333;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
}

.title2{
	color:#5775FF;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
}
