* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Microsoft Jhenghei";
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

a {
  color: #000;
}

img {
  width: 100%;
}

.vam {
  font-size: 0;
}

.vam::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.vam > * {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  float: none !important;
}

.full-width {
  width: 100%;
}

@media (min-width: 0) {
  .fixed-width {
    width: 100%;
    margin: auto;
  }
  .col-1 {
    width: 8.33333%;
    float: left;
    padding: 15px;
  }
  .col-2 {
    width: 16.66667%;
    float: left;
    padding: 15px;
  }
  .col-3 {
    width: 25%;
    float: left;
    padding: 15px;
  }
  .col-4 {
    width: 33.33333%;
    float: left;
    padding: 15px;
  }
  .col-5 {
    width: 41.66667%;
    float: left;
    padding: 15px;
  }
  .col-6 {
    width: 50%;
    float: left;
    padding: 15px;
  }
  .col-7 {
    width: 58.33333%;
    float: left;
    padding: 15px;
  }
  .col-8 {
    width: 66.66667%;
    float: left;
    padding: 15px;
  }
  .col-9 {
    width: 75%;
    float: left;
    padding: 15px;
  }
  .col-10 {
    width: 83.33333%;
    float: left;
    padding: 15px;
  }
  .col-11 {
    width: 91.66667%;
    float: left;
    padding: 15px;
  }
  .col-12 {
    width: 100%;
    float: left;
    padding: 15px;
  }
  .d-none {
    display: none;
  }
  .d-inline {
    display: inline;
  }
  .d-inline-block {
    display: inline-block;
  }
  .d-block {
    display: block;
  }
  .d-table {
    display: table;
  }
  .d-table-cell {
    display: table-cell;
  }
  .d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 600px) {
  .fixed-width {
    width: 600px;
    margin: auto;
  }
  .col-sm-1 {
    padding: 15px;
    width: 8.33333%;
    float: left;
  }
  .col-sm-2 {
    padding: 15px;
    width: 16.66667%;
    float: left;
  }
  .col-sm-3 {
    padding: 15px;
    width: 25%;
    float: left;
  }
  .col-sm-4 {
    padding: 15px;
    width: 33.33333%;
    float: left;
  }
  .col-sm-5 {
    padding: 15px;
    width: 41.66667%;
    float: left;
  }
  .col-sm-6 {
    padding: 15px;
    width: 50%;
    float: left;
  }
  .col-sm-7 {
    padding: 15px;
    width: 58.33333%;
    float: left;
  }
  .col-sm-8 {
    padding: 15px;
    width: 66.66667%;
    float: left;
  }
  .col-sm-9 {
    padding: 15px;
    width: 75%;
    float: left;
  }
  .col-sm-10 {
    padding: 15px;
    width: 83.33333%;
    float: left;
  }
  .col-sm-11 {
    padding: 15px;
    width: 91.66667%;
    float: left;
  }
  .col-sm-12 {
    padding: 15px;
    width: 100%;
    float: left;
  }
  .d-sm-none {
    display: none;
  }
  .d-sm-inline {
    display: inline;
  }
  .d-sm-inline-block {
    display: inline-block;
  }
  .d-sm-block {
    display: block;
  }
  .d-sm-table {
    display: table;
  }
  .d-sm-table-cell {
    display: table-cell;
  }
  .d-sm-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 720px) {
  .fixed-width {
    width: 720px;
    margin: auto;
  }
  .col-md-1 {
    padding: 15px;
    width: 8.33333%;
    float: left;
  }
  .col-md-2 {
    padding: 15px;
    width: 16.66667%;
    float: left;
  }
  .col-md-3 {
    padding: 15px;
    width: 25%;
    float: left;
  }
  .col-md-4 {
    padding: 15px;
    width: 33.33333%;
    float: left;
  }
  .col-md-5 {
    padding: 15px;
    width: 41.66667%;
    float: left;
  }
  .col-md-6 {
    padding: 15px;
    width: 50%;
    float: left;
  }
  .col-md-7 {
    padding: 15px;
    width: 58.33333%;
    float: left;
  }
  .col-md-8 {
    padding: 15px;
    width: 66.66667%;
    float: left;
  }
  .col-md-9 {
    padding: 15px;
    width: 75%;
    float: left;
  }
  .col-md-10 {
    padding: 15px;
    width: 83.33333%;
    float: left;
  }
  .col-md-11 {
    padding: 15px;
    width: 91.66667%;
    float: left;
  }
  .col-md-12 {
    padding: 15px;
    width: 100%;
    float: left;
  }
  .d-md-none {
    display: none;
  }
  .d-md-inline {
    display: inline;
  }
  .d-md-inline-block {
    display: inline-block;
  }
  .d-md-block {
    display: block;
  }
  .d-md-table {
    display: table;
  }
  .d-md-table-cell {
    display: table-cell;
  }
  .d-md-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1024px) {
  .fixed-width {
    width: 1024px;
    margin: auto;
  }
  .col-lg-1 {
    padding: 15px;
    width: 8.33333%;
    float: left;
  }
  .col-lg-2 {
    padding: 15px;
    width: 16.66667%;
    float: left;
  }
  .col-lg-3 {
    padding: 15px;
    width: 25%;
    float: left;
  }
  .col-lg-4 {
    padding: 15px;
    width: 33.33333%;
    float: left;
  }
  .col-lg-5 {
    padding: 15px;
    width: 41.66667%;
    float: left;
  }
  .col-lg-6 {
    padding: 15px;
    width: 50%;
    float: left;
  }
  .col-lg-7 {
    padding: 15px;
    width: 58.33333%;
    float: left;
  }
  .col-lg-8 {
    padding: 15px;
    width: 66.66667%;
    float: left;
  }
  .col-lg-9 {
    padding: 15px;
    width: 75%;
    float: left;
  }
  .col-lg-10 {
    padding: 15px;
    width: 83.33333%;
    float: left;
  }
  .col-lg-11 {
    padding: 15px;
    width: 91.66667%;
    float: left;
  }
  .col-lg-12 {
    padding: 15px;
    width: 100%;
    float: left;
  }
  .d-lg-none {
    display: none;
  }
  .d-lg-inline {
    display: inline;
  }
  .d-lg-inline-block {
    display: inline-block;
  }
  .d-lg-block {
    display: block;
  }
  .d-lg-table {
    display: table;
  }
  .d-lg-table-cell {
    display: table-cell;
  }
  .d-lg-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1200px) {
  .fixed-width {
    width: 1200px;
    margin: auto;
  }
  .col-xl-1 {
    padding: 15px;
    width: 8.33333%;
    float: left;
  }
  .col-xl-2 {
    padding: 15px;
    width: 16.66667%;
    float: left;
  }
  .col-xl-3 {
    padding: 15px;
    width: 25%;
    float: left;
  }
  .col-xl-4 {
    padding: 15px;
    width: 33.33333%;
    float: left;
  }
  .col-xl-5 {
    padding: 15px;
    width: 41.66667%;
    float: left;
  }
  .col-xl-6 {
    padding: 15px;
    width: 50%;
    float: left;
  }
  .col-xl-7 {
    padding: 15px;
    width: 58.33333%;
    float: left;
  }
  .col-xl-8 {
    padding: 15px;
    width: 66.66667%;
    float: left;
  }
  .col-xl-9 {
    padding: 15px;
    width: 75%;
    float: left;
  }
  .col-xl-10 {
    padding: 15px;
    width: 83.33333%;
    float: left;
  }
  .col-xl-11 {
    padding: 15px;
    width: 91.66667%;
    float: left;
  }
  .col-xl-12 {
    padding: 15px;
    width: 100%;
    float: left;
  }
  .d-xl-none {
    display: none;
  }
  .d-xl-inline {
    display: inline;
  }
  .d-xl-inline-block {
    display: inline-block;
  }
  .d-xl-block {
    display: block;
  }
  .d-xl-table {
    display: table;
  }
  .d-xl-table-cell {
    display: table-cell;
  }
  .d-xl-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.bg-red {
  background-color: #ff0040;
}

.text-red {
  color: #ff0040;
}

.bg-blue {
  background-color: #0772ff;
}

.text-blue {
  color: #0772ff;
}

.bg-black {
  background-color: #000;
}

.text-black {
  color: #000;
}

.bg-dark {
  background-color: #222;
}

.text-dark {
  color: #222;
}

.bg-white {
  background-color: #fff;
}

.text-white {
  color: #fff;
}

.bg-light {
  background-color: #eee;
}

.text-light {
  color: #eee;
}

.bg-gary {
  background-color: #e7e7e7;
}

.text-gary {
  color: #e7e7e7;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  color: #fff;
  border: 0;
  cursor: pointer;
  outline: 0;
}

.btn-red {
  background: #ff0040;
}

.btn-blue {
  background: #0772ff;
}

.btn-black {
  background: #000;
}

.btn-dark {
  background: #222;
}

.btn-white {
  background: #fff;
}

.btn-light {
  background: #eee;
}

.btn-gary {
  background: #e7e7e7;
}

nav {
  padding-top: 12px;
  padding-bottom: 12px;
}

nav .logo {
  float: left;
}

nav .menu {
  float: right;
}

nav .menu a {
  border-radius: 5px;
}

nav .menu a:hover {
  color: #000;
}

nav a {
  display: inline-block;
  padding: 6px 5px;
  text-decoration: none;
  color: #686868;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

html {
  height: 100%;
}

header {
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
}

@media (min-width: 0) {
  header {
    padding-top: 140px;
    padding-bottom: 150px;
  }
}

@media (min-width: 600px) {
  header {
    padding-top: 140px;
    padding-bottom: 150px;
  }
}

@media (min-width: 720px) {
  header {
    padding-top: 250px;
    padding-bottom: 250px;
  }
}

@media (min-width: 1200px) {
  header {
    padding-top: 250px;
    padding-bottom: 250px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* force scrollbar */
html {
  overflow-y: scroll;
}

body {
  font-family: sans-serif;
}

.gallery {
  max-width: 1200px;
  margin: 0 auto;
  -webkit-column-count: 3;
          column-count: 3;
  font-family: arial;
}

.gallery-item {
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
  margin-bottom: 16px;
}

.gallery-item figure {
  margin: 0;
  position: relative;
}

.gallery-item figcaption {
  font-style: italic;
  padding: 8px;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  bottom: 3px;
  color: #fff;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 0 0 14px 14px;
}

.gallery-item img {
  width: 100%;
  border-radius: 14px;
}

.gallery-item p {
  margin: 0;
  padding: 8px;
}

@media screen and (max-width: 500px) {
  .gallery {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

@media screen and (min-width: 501px) and (max-width: 700px) {
  .gallery {
    -webkit-column-count: 2;
            column-count: 2;
  }
}

@media screen and (min-width: 701px) and (max-width: 900px) {
  .gallery {
    -webkit-column-count: 3;
            column-count: 3;
  }
}

header .fixed-width .shot {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 15px;
  overflow: hidden;
}

@media (min-width: 0) {
  header .fixed-width .shot {
    width: 60px;
    height: 60px;
  }
}

header .fixed-width .title {
  padding-top: 15%;
}

.text-center {
  text-align: center;
}

.padding-15 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.card {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  clear: both;
}

/* ## BACK TO TOP */
#gotop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 3rem;
  color: #2b8eff;
  cursor: pointer;
  z-index: 1000;
}
/*# sourceMappingURL=style.css.map */